<nav class="bg-gray-800 text-white p-4 flex justify-between items-center">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div>
    <%= link_to "NetworkingSaaS", root_path, class: "text-xl font-bold" %>
  </div>
  <div>
    <% if user_signed_in? %>
      <div>
        <%= link_to "Dashboard", dashboard_path, class: "px-4" %>
        <%= link_to "Interesses", interests_path, class: "px-4" %>
        <%= link_to "Conexões", connections_path, class: "px-4" %>
      </div>
      <div>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "bg-red-500 text-white px-4 py-2 rounded" %>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "px-4" %>
      <%= link_to "Cadastro", new_user_registration_path, class: "px-4" %>
    <% end %>
  </div>
</nav>
